.grid-background {
  background-color: #ccefff;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-size: 32px 32px; /* grid cell size */
  background-position: 0 0;
}
